<form #f="ngForm" (ngSubmit)="onSubmit(f)">

<div class="form-control">
  <label
   for="username">Enter your username</label>
  <input type="text"
     class="form-control"
     ngModel
     name="loginUsername"
     #loginUsername="ngModel"
     required>
 <div class="alert alert-danger" *ngIf="loginUsername.errors?.['required']&&loginUsername.touched">
    username is required
  </div>
</div>

<div class="form-control">
  <label for="password">Enter your password</label>
  <input type="password"
  class="form-control"
  ngModel
  name= "loginPassword"
  #loginPassword="ngModel"
  required>
  <div class="alert alert-danger" *ngIf="loginPassword.errors?.['required']&&loginPassword.touched">
    password is required
  </div>
</div>

<button class="btn btn-primary">Login</button>
</form>
